body, button, input, select, table, textarea{
    margin: 0;
    padding: 0;
    font-size: 16px;
}
#wrap{
    overflow: hidden;
    min-width: 1190px;
}
#header{
    position: relative;
    background-color: white;
    height: 100px;
    border-bottom: 1px solid rgb(195, 195, 195);
}
#header .head_group{
    position: relative;
    height: 100%;
    margin: 0 auto;
    padding: 0 30px;
}
#header .logo_area{
    padding-top: 8px;

}
.logo{
    width: 85px;
    height: 85px;
}

#header .head_group .changepg_area{
    position: absolute;
    top: 40px;
    left: 135px;
}

.cbtn{
    display: inline-block;
    margin-left: 20px;
    vertical-align: 3px;
    border: none;
    background-color: white;
    font-weight: bold;

}
a{
    text-decoration: none;
    color: rgb(0, 42, 121);
    
}
a:hover{
    text-decoration: none;
    color: cornflowerblue;
}
#header .head_group .ser_area{
    right:27px;
    font-size: 12px;
    top: 40px;
    position: absolute;

}
.lbar{
    float:left;
    width: 1px;
    height: 15px;
    margin: 3px 7px;
    background-color:gray;
}

