*{
    margin: 0;
    padding: 0;
}
.search-box {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
}

.search-box button{
    margin-left: 5px;
    border-radius: 50px;
    height: 45px;
    width: 45px;
    border: 3px solid transparent; 
    background-image: linear-gradient(#f3f3f3, #ffffff), linear-gradient(to right, #0800ffaa, #65d3ffaa);
    background-origin: border-box;
    background-clip: content-box, border-box;
    border-radius: 50px;
    box-shadow: 5px 5px 5px gray;
}
.search-box input{
    border: 5px solid transparent;
    background-image: linear-gradient(#f3f3f3, #ffffff), linear-gradient(to right, #0800ffaa, #65d3ffaa);
    background-origin: border-box;
    background-clip: content-box, border-box;
    height: 45px;
    width: 270px;
    border-radius: 50px;
    box-shadow: 5px 5px 5px gray;
}
input::placeholder{
    text-align:center;
    color: black;
    font-size: 10;
}
.search-box img{
    margin-top: 4px;
}

form a{
    margin-left: 100px;
    font-size: 7px;
}

input::placeholder{
    color: black;
}


.flex { /*Flexbox for containers*/
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .waves {
    position: fixed;
    width: 100%;
    height:17vh;
    bottom: 0;
    margin-bottom:-7px; /*Fix for safari gap*/
    min-height:100px;
    max-height:150px;
  }
  /* Animation */
  
  .parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
  }
  .parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
  }
  .parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
  }
  .parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
  }
  .parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
  }
  @keyframes move-forever {
    0% {
     transform: translate3d(-90px,0,0);
    }
    100% { 
      transform: translate3d(85px,0,0);
    }
  }
  /*Shrinking for mobile*/
  @media (max-width: 768px) {
    .waves {
      height:40px;
      min-height:40px;
    }
    .content {
      height:30vh;
    }
    h1 {
      font-size:24px;
    }
  }