*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    color: black;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    border-bottom: 3px solid black;
}

.web_name h1 {
    font-size: 40px;
    padding-top: 14px;
    padding-bottom: 5px;
    letter-spacing: 2px;

}


#info {
    width: 60%; height: 85%;
    background-color:transparent;
    background-color: a(0.5);
    border-radius:  0px 30px 0px 0px;
    position:fixed;
    left:0%;
    bottom:0%;
}
#info header{
    margin-top : 14px;
    margin-left: 36px;
}

#info main{
    width: 370px; height: 60%;
    margin: 14px;
    background-color: white;
    border-radius: 20px 20px 0px 0px;
    border: 5px solid transparent;
    background-image: linear-gradient(#f3f3f3, #ffffff), linear-gradient(to right, #0800ffaa, #65d3ffaa);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 5px 5px 5px gray;
}

/*#info article{
    width: 90%; height: 90%;
    position: absolute;
    bottom: 0;
    float: left;
    margin-left: 10px;  
    margin-bottom: 10px;
    background-color: whitesmoke;
    border-radius:  30px 30px 30px 30px;
    border: 3px solid rgb(0, 19, 95);
}*/
#info input{
    border-radius: 50px;
    height:40px;
    width: 270px;
    border: 5px solid transparent;
    background-image: linear-gradient(#f3f3f3, #ffffff), linear-gradient(to right, #0800ffaa, #65d3ffaa);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 5px 5px 5px gray;
}

#info button{
    margin-left: 5px;
    border-radius: 50px;
    height: 45px;
    width: 45px;
    border: 3px solid transparent; 
    background-image: linear-gradient(#f3f3f3, #ffffff), linear-gradient(to right, #0800ffaa, #65d3ffaa);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 5px 5px 5px gray;
}
#info div{
    margin:5px;
    border-radius: 13px;
    border: 2px solid blue;
}

.side_info div {
    width: 100px;
    height: 100px;
    float: left
}

input::placeholder{
    text-align:center;
    color: black;
}

.itme_img{
    width: 130px; height: 130px;
    margin: 5px;
    border-radius: 10px;
    background-color: gray;
    float: left;
}

.shop_name{
    margin: 15px;
    margin-left: 150px;
}
