body{
    margin: 0;
    padding: 0;
}

.search-box {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.search-box button{
    width: 45px;
    height: 45px;
    border-radius: 50px;
    margin-left: 5px;
}
.search-box input{
    height: 45px;
    width: 270px;
    border-radius: 50px;
}
.search-box img{
    margin-top: 4px;
}

form a{
    margin-bottom: 50px;
    margin-left: 100px;
    font-size: 7px;
    
}

input::placeholder{
    color: black;
}
/* form {
    width: 400px;
    -webkit-animation-name: movingPara;
    -webkit-animation-duration: 3s;
    animation-name: movingPara;
    animation-duration: 3s;
}
@-webkit-keyframes movingPara {
    from { margin-left: 100%; }
    to { margin-left: 0%; }
}
@keyframes movingPara {
    from { margin-left: 100%; }
    to { margin-left: 0%; }
} */