
.header{
  position: fixed;
  top: 30px;
  left: 0;
  right: 0;
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 3px solid #4942ffaa;
    
}
.si{
  border: 0;
  outline: 0;
  background-color:transparent;
  font-weight: 800;
  font-size: 25px;
  border:none;
    

}
.article{
  width : 900px;
  height: 500px;
  background-color: #f5f5f5;
  border: 3px solid transparent;
  background-image: linear-gradient(#f3f3f3, #ffffff), linear-gradient(to right, #0800ffaa, #65d3ffaa);
  background-origin: border-box;
  background-clip: content-box, border-box;
  border-width: 10px 10px 10px 10px;
  position: fixed;
  top: 30%;
  left: 23%;
  border-radius: 20px;
}


#bcd_button{
  border-width:2px 2px 2px 2px;
  position: fixed;
  top: 400px;
  left: 430px;
  background-color: #4842ff3a;
  height: 35px;
  width: 100px;
  font-weight: 800;
  

}
#bcd_input{
  position: fixed;
  top: 402px;
  left: 540px;
  border-width:0 0 0 0;
  background-color: #4842ff3a;
  height: 30px;
  width: 200px;

}
.size{
  position: fixed;
  left: 780px;
  top: 380px;
  font-weight: 700;
}
.box{
  border: 1px solid black;
  border-width:2px 2px 2px 2px;
  background-color:#4842ff3a;
  width: 450px;
  height: 300px;
  position: fixed;
  left: 770px;
  top: 440px;
}

.oooo{
  position: fixed;
  left: 445px;
  top: 515px;
  font-weight: 500;
  font-size: 20px;
}

form {
  position: relative;
  width: 300px;
  height: 250px;
  top: -115%;
  left: 5%;
}

/*버튼 눌리는 효과*/
.si:active {
  box-shadow: inset -.3rem -.1rem 1.4rem  #4842ff3a, inset .3rem .4rem .8rem #BEC5D0; 
  cursor: pointer;
}

img{
  width: 449px;
  height: 300px;
}
